@tailwind base;

@tailwind components;

@tailwind utilities;

@font-face {
	font-family: "Hobbiton";
	font-weight: 400;
	font-style: normal;
	font-display: auto;
	unicode-range: U+000-5FF;
	src: url("/fonts/Hobbiton/hobbiton-czech.woff") format("woff"), url("/fonts/Hobbiton/hobbiton-regular.ttf") format("ttf");
  }

@font-face {
	font-family: "InkFree";
	font-weight: 400;
	font-style: normal;
	font-display: auto;
	unicode-range: U+000-5FF;
	src: url("/fonts/Hobbiton/ink-regular.woff") format("woff");
  }

